@import "variables";
* {
  box-sizing: border-box;
}
body {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
button {
  background-color: $green;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 17px;
  margin: 0;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  &:hover {
    transform: scale(0.95);
    opacity: 0.9;
    transition: all 150ms ease;
  }
}
.side-padding {
  padding: 0 143px;
}

header {
  nav {
    height: 100px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    #nav-logo {
      img {
        width: 118px;
        height: 30px;
      }
    }
    #nav-phone-number {
      p {
        color: $green;
        margin: 3px;
        text-align: right;
        &:first-of-type {
          font-size: 22px;
        }
        &:nth-of-type(2) {
          font-size: 14px;
        }
        span {
          width: 13px;
          display: inline-block;
        }
      }
    }
  }
}

section#hero {
  height: 500px;
  width: 100%;
  margin-top: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("../images/hero-dk.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  #hero__info-box {
    height: 100%;
    width: 500px;
    background-color: #f9f9f9;
    border: 1px solid #dededd;
    padding: 43px 50px;
    h2 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 30px;
      line-height: 48px;
      text-align: center;
      margin: 0;
    }
    button {
      margin: 26px 0;
      width: 100%;
    }
    #awards {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      #stars {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        align-items: flex-start;
        p {
          font-weight: bold;
          margin: 7px 0 0 0;
        }
      }
    }
  }
}
