@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

button {
  background-color: #59b02f;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 17px;
  margin: 0;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}
button:hover {
  transform: scale(0.95);
  opacity: 0.9;
  transition: all 150ms ease;
}

.side-padding {
  padding: 0 143px;
}

header nav {
  height: 100px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
header nav #nav-logo img {
  width: 118px;
  height: 30px;
}
header nav #nav-phone-number p {
  color: #59b02f;
  margin: 3px;
  text-align: right;
}
header nav #nav-phone-number p:first-of-type {
  font-size: 22px;
}
header nav #nav-phone-number p:nth-of-type(2) {
  font-size: 14px;
}
header nav #nav-phone-number p span {
  width: 13px;
  display: inline-block;
}

section#hero {
  height: 500px;
  width: 100%;
  margin-top: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("../images/hero-dk.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
section#hero #hero__info-box {
  height: 100%;
  width: 500px;
  background-color: #f9f9f9;
  border: 1px solid #dededd;
  padding: 43px 50px;
}
section#hero #hero__info-box h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  line-height: 48px;
  text-align: center;
  margin: 0;
}
section#hero #hero__info-box button {
  margin: 26px 0;
  width: 100%;
}
section#hero #hero__info-box #awards {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
section#hero #hero__info-box #awards #stars {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-start;
}
section#hero #hero__info-box #awards #stars p {
  font-weight: bold;
  margin: 7px 0 0 0;
}

section#benefits h3 {
  padding: 30px 0;
}
section#benefits .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
section#benefits .flex .benefits__item {
  width: calc((100% / 3) - 20px);
  max-width: 275px;
  margin: 10px;
}
section#benefits .flex .benefits__item p.percentage {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: #59b02f;
  margin: 10px 0;
}
section#benefits .flex .benefits__item p.percentage + p {
  font-weight: bold;
}
section#benefits .flex .benefits__item:last-of-type {
  display: flex;
  align-items: center;
}
section#benefits .flex .benefits__item:last-of-type p {
  font-size: 16px;
}

section.info-panel {
  margin: 50px 0;
}
section.info-panel .info-panel__wrapper {
  background-color: #f6f6f6;
  display: flex;
  min-height: 510px;
}
section.info-panel .info-panel__wrapper .info-panel__txt {
  width: 50%;
  padding: 41px 44px;
}
section.info-panel .info-panel__wrapper .info-panel__txt p {
  line-height: 28px;
  margin: 0;
}
section.info-panel .info-panel__wrapper .info-panel__image {
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

section#info-panel-scooter .info-panel__image {
  background-image: url("../images/scooter-dk.png");
}

section#info-panel-office .info-panel__image {
  background-image: url("../images/office-dk.png");
  order: 2;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}
.btn-wrapper button {
  width: 355px;
}

section#list {
  display: flex;
}
section#list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 50%;
}
section#list ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
section#list ul li img {
  margin-right: 10px;
}
section#list ul li p {
  font-weight: bold;
  max-width: 360px;
}
section#list .guarantee {
  width: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0 20px;
}
section#list .guarantee .seals {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
section#list .guarantee button {
  width: 288px;
}

footer {
  margin-top: 40px;
}
footer #footer__img {
  height: 400px;
  width: 100%;
  padding-top: 100px;
  background-image: url("../images/footer-img-dk.png");
  background-repeat: no-repeat;
  background-size: cover;
}
footer #footer__img p {
  color: #fff;
  margin-left: 100px;
}
footer #footer__img p.quote {
  font-size: 30px;
  font-weight: bold;
  position: relative;
}
footer #footer__img p.quote::before {
  content: "";
  background-image: url("../images/quotation-marks.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 87px;
  width: 83px;
  position: absolute;
  left: -95px;
  top: -10px;
}
footer #footer__credits {
  height: 100px;
  background-color: #414141;
  color: #fff;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
footer #footer__credits p {
  font-size: 16px;
  font-weight: bold;
  margin: 5px;
}

/*# sourceMappingURL=style.css.map */
